 /* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 /*-------------------- CSS RESET ---------------------------------------------------*/
 body {
    font-size:1.25em;
 }
 nav a {
    font-size:1.5em;
 }
 h1 {
    font-size: 3em;
 }
 h2 {
    font-size: 2em;
 }
 figcaption {
    font-size: 1em;
}
label {
    font-size: 1em;
} 
input {
    font-size: 1em;
}
small {
    font-size: 1em;
}

 /* -------------------- ROOT VARIABLES --------------------------------------- */
 :root {
    --white:#ffffff;
    --black:#000000;
    --cyan:#007d7b;
    --font: Arial, Helvetica, sans-serif;
}
 /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
html {
   
}

 body {
    background-color: #000000;
    font-family: var(--font);
    justify-content:center;
    margin: 50px;
    
}
header {
    background-color: var(--white);
    
}
nav {
    justify-content: right;

}
nav ul {
    display: flex;
    list-style-type: none;
    padding: 30px;
    background-color:var(--black);
}
nav li {
    margin: auto;
    justify-content: right;
    color: #ffffff;
}
nav a {
    color:#ffffff;
    text-decoration: none;
}
[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0px 0px;
    color: var(--white);
    background-color: var(--black);
    text-decoration: none;
}
h1 {
    color:#007d7b;
    background-color: #ffffff;
}
h2 {
    text-align: center;
}
main {
    background-color: #ffffff;
}
#gallery {
    margin: 35px;
    background-color: var(--black);
}
#contact {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
form {
    color:#ffffff;
    justify-content: left;
    text-align: center;
}
.button {
    background-color: #007d7b;
}
footer {
    
    color:#ffffff;
    text-align: center;

}
 /*-------------------- MEDIA QUERY (medium) --------------------------------*/
 @media (min-width: 485px) {
        
 }
 /*-------------------- MEDIA QUERY (large) ------------------------------------*/
 @media (min-width: 880px) {
     
 }
 /*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

 @media (min-width: 1300px) {
     
 }
